<div class="jumbotron">
  <%= if assigns[:user_info] do  %>
    <%= content_tag(:img, "", [src: @user_info.avatar_url, width: 100,height: 100]) %>
    <h2>
      <%= "Welcome #{@user_info.login}!" %>
    </h2>
    <h3>Email :
      <%= "#{@user_info.email}!" %>
    </h3>
    <h3>Member of the following orgs: </h3>
    <ul>
      <%= for key <- @user_info.orgs do %>
        <li>
          <%= key %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h1> Don't forget to login ! </h1>
  <% end %>
</div>
