<div class="jumbotron">
  <%= if assigns[:user_and_orgs] do  %>
    <h2>
      <%= "Welcome #{@user_and_orgs.login}!" %>
    </h2>
    <h3>Email :
      <%= "#{@user_and_orgs.email}!" %>
    </h3>
    <h3>Member of the following orgs: </h3>
    <ul>
      <%= for key <- @user_and_orgs.orgs do %>
        <li>
          <%= key %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h1> Don't forget to login ! </h1>
  <% end %>
</div>
